#footer {
    margin-top: 100px;
    width: 1920px;
    height: 312px;
    padding-top: 48px;
    padding-bottom: 48px;
    background: #6C5CE7;
}

#links {
    margin-left: 300px;
    width: 709px;
    height: 168px;
    display: flex;
    justify-content: space-between;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section a {
    color: white;
    font-family: Rubik;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-decoration: none;
}