<div id="footer">
    <div id="links">
        <div class="section">
            <a href="">General information</a>
            <a href="">Careers</a>
            <a href="">Ad Settings</a>
            <a href="">Security Center</a>
        </div>
        <div class="section">
            <a href="">Accessibility</a>
            <a href="">Privacy and Terms</a>
            <a href="">Mobile Phone</a>
        </div>
        <div class="section">
            <a href="">Policies for the Professional Community</a>
            <a href="">Sales Solutions</a>
            <a href="">Advertising Solutions</a>
        </div>
    </div>
</div>