<div id="main">
    <div id="info">Find a suitable vacancy or internship</div>
    <div id="tags">
        <div class="tag">Engineering</div>
        <div class="tag">Business development</div>
        <div class="tag">Finance</div>
        <div class="tag">Administrative Assistant</div>
        <div class="tag">Retail employee</div>
        <div class="tag">Help Desk</div>
        <div class="tag">Operations</div>
        <div class="tag">Information Technology</div>
        <div class="tag">Marketing</div>
        <div class="tag">Personnel support</div>
        <div class="tag">Education</div>
        <div class="tag">Sales</div>
    </div>
</div>