<div id="container">
    <div id="left">
        <div id="text-welcome">Welcome to the community specialists!</div>
        <button class="btn" id="btn-login-google">Login with google</button>
        <button class="btn" id="btn-login-email">Login by email address</button>
        <div id="text-info">By clicking "Continue" to join or sign in, you agree to the terms of the LinkedIn User Agreement, Privacy Policy, and Cookie Policy.</div>
        <div id="text-join">Not on LinkedIn? <a href="" id="link-join">Join</a></div>
    </div>
    <img id="right" src="illustration.png" alt="">
</div>