<div id="main">
    <div id="text-post">Post your vacancy so millions of people can see it</div>
    <div id="tag-fixed">Post a vacancy</div>
    <div id="info">
        <div id="text-container">
            <div id="text-discover">Discover the best software tools</div>
            <div id="text-discover2">Connect with buyers who have first-hand experience to find the best products for you.</div>
        </div>
        <div id="tags-container">
            <div class="tag">E-commerce platforms</div>
            <div class="tag">Recruiting Software</div>
            <div class="tag">Software for CRM systems</div>
            <div class="tag">Social Networking Software</div>
            <div class="tag">HR systems</div>
            <div class="tag">Project Management Software</div>
        </div>
    </div>
    <div id="text-connect">Connect with your colleagues, classmates and friends on LinkedIn.</div>
    <button id="btn-login">Login</button>
</div>
<div id="grad"></div>